body{
    
    background: linear-gradient(#8C464C, #8C817D, #A69C98, #734E46);
    

}
.Textus{
    

    color: aliceblue;
    
    font-size: larger;
    
    font-style: normal;
    
    
}

h1{

  font-weight: 400;
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  font-style: italic;


}


.Pesquisa{

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    

}


.Imagem{
    
    height: 100%; 
    
    width: 100%;


}
